<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyp.greenhouse.dao.AutoControlParamDao">

    <select id="getByParamName" resultType="AutoControlParam">
        SELECT * FROM auto_control_param WHERE  param_name = #{paramName}
    </select>

    <insert id="saveParamName" parameterType="AutoControlParam">
        INSERT INTO auto_control_param
        (param_name,
        temperature_min,
        temperature_max,
        humidity_min,
        humidity_max,
        light_intensity_min,
        light_intensity_max,
        soil_moisture_min,
        soil_moisture_max,
        create_date
        )
        VALUES
        (
        #{paramName},
        #{temperatureMin},
        #{temperatureMax},
        #{humidityMin},
        #{humidityMax},
        #{lightIntensityMin},
        #{lightIntensityMax},
        #{soilMoistureMin},
        #{soilMoistureMax},
        #{createDate}
        )
    </insert>

    <delete id="deleteParamByName" parameterType="String">
        update auto_control_param
        set delete_date = sysdate()
        where param_name = #{paramName}
    </delete>

    <update id="updateParam" parameterType="AutoControlParam">
        UPDATE auto_control_param
        set
        temperature_min = #{temperatureMin},
        temperature_max = #{temperatureMax},
        humidity_min = #{humidityMin},
        humidity_max = #{humidityMax},
        light_intensity_min = #{lightIntensityMin},
        light_intensity_max = #{lightIntensityMax},
        soil_moisture_min = #{soilMoistureMin},
        soil_moisture_max = #{soilMoistureMax},
        modify_date = #{modifyDate}
        where param_name = #{paramName}
    </update>

    <select id="listParams" resultType="AutoControlParam">
        SELECT * FROM auto_control_param WHERE delete_date is null limit #{pageNumber} , #{pageSize}
    </select>

    <select id="countAllParams" resultType="int">
        SELECT COUNT(*) FROM auto_control_param WHERE delete_date is null
    </select>


</mapper>