<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyp.greenhouse.dao.LogDao">

    <select id="getById" resultType="Log">
        SELECT * FROM log WHERE  id = #{id}
    </select>

    <insert id="saveLog" parameterType="Log">
        INSERT INTO log
        (operate_from,operate_to,date,behavior,state)
        VALUES
        (#{operateFrom},#{operateTo},#{date},#{behavior},#{state})
    </insert>

    <select id="listLogs" resultType="Log">
        SELECT * FROM log ORDER BY date DESC limit #{pageNumber} , #{pageSize}
    </select>

    <select id="countAllLog" resultType="int">
        SELECT COUNT(*) FROM  log
    </select>


</mapper>