<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyp.greenhouse.dao.UserDao">
    <select id="getById" resultType="User" parameterType="int">
        <!-- 具体的sql -->
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getByName" resultType="User" parameterType="String">
        SELECT *
        FROM  user
        WHERE username = #{username}
    </select>

    <select id="getRoles" resultType="String" parameterType="String">
        SELECT r.role_name
        FROM user u,role r
        WHERE u.role_id = r.id AND u.username = #{username}
    </select>

    <select id="getPermissions" resultType="String" parameterType="String">
        SELECT p.permission_name
        FROM user u,role_permission rp,permission p
        WHERE u.role_id = rp.role_id and rp.permission_id = p.id and u.username = #{username}
    </select>

    <update id="updateRoleId">
        UPDATE user SET role_id = #{roleId} WHERE username = #{username}
    </update>

    <update id="updatePassword">
        UPDATE user SET password = #{password} WHERE username = #{username}
    </update>

    <select id="getUserPermissionList" resultType="com.jyp.greenhouse.dto.PermissionDTO">
        SELECT u.username, r.role_name FROM user u, role r where u.role_id = r.id limit #{pageNumber} , #{pageSize}
    </select>

    <select id="countAllUser" resultType="int">
        SELECT COUNT(*) FROM  user
    </select>


</mapper>